@page "/javascriptinterop"

<h3>JavascriptInterop</h3>

        sum : @(CalculatorNoficatioinService.Sum)

<button class="btn btn-primary" @onclick="CallJavasctipt">Calculate Sum</button>

@code {

}
